:root 
{
    /* colors */
    --color-my-theme-left: #0fcaca;
    --color-my-theme-right: #a39c9c;
}

.my-theme .left {
    background: var(--color-my-theme-left);
}

.my-theme .right {
    background: var(--color-my-theme-right);
}
