input,
select,
textarea {
    appearance: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
}

input,
select,
textarea {
    border: 2px solid #333
}

table,th,td {
    padding: 7px;
    border-collapse: collapse;;
    border: 2px solid #333
}

input[type="text"] {
    cursor: text;
}

textarea {
    cursor: text;
}



input[type="submit"]{
    color: white;
    background-color: blue;
    cursor: pointer;
}

input[type="submit"]:enabled {
    color: white;
    background-color: blue;
}

input[type="submit"]:hover {
    color: white;
    background-color: darkblue;
}

input[type="submit"]:disabled {
    color: white;
    background-color: cornflowerblue;
}

 .form {
   width: 1024px;
   height: auto;
   text-align: center;
}

input[type="text"]:invalid {
    border-color: red;
}

input[type="text"]:valid {
    border-color: green;
}

select[type="checkbox"] {
    cursor: pointer;
    width: 150px;
}

select[type="checkbox"]:invalid {
    border-color: red;
}

select[type="checkbox"]:valid {
    border-color: green;
}

.Description-2 {
   margin-left: 85px;
   margin-top: -31px;
}

.Hire-me {
font-size: xx-large;
font-weight: 600;
}

.Contact {
font-size: large;
font-weight: 600;
}

.th-1 {
font-size: large;
font-weight: 600;
}

.th-2 {
font-size: large;
font-weight: 600;
}

select {
    background: url('./photo.png') no-repeat center right;
}

label,
textarea,
 input[type="submit"]{
    display: flex;
}

.form {
    position: fixed;
    top: 250px; bottom: 250px; left: 250px; right: 250px

}

