* {
    margin: 0;
    padding: 0;
  }

.parent {
    border: 1px solid #000;
    display: flex;
}


.left{
    display: grid;
    width: 385px;
    height: 1667px;
    background: #86A3B4;
}

.right {
    display: grid;
    width: 1200px;
    height: 1667px;
    background: #FFFFFF;
}

.name {
    margin-top: 58px;
    margin-right: 85px;
    margin-bottom: 36px;
    margin-left: 40px;
}

.name-1 {
    width: 118px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
}

.name-2 {
    width: 260px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #1C2E8C;
}

.photo {
    width: 385px;
    height: 292px;
    margin-top: 36px; 
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
}

.Contact {
    width: 124px;
    height: 39px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #263036;
    margin-top: 50px; 
    margin-right: 220px;
    margin-bottom: 15px;
    margin-left: 41px;
}

.table-1 {
    width: 289px;
    height: 0px;
    border: 6px solid #1E1E1E; 
    margin-top: 15px; 
    margin-right: 54px;
    margin-bottom: 31px;
    margin-left: 42px;  
}


.ul {
     list-style: none;
}

.address-2 {
    width: 97px;
    height: 29px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #263036;
    margin-top: 31px; 
    margin-right: 247px;
    margin-bottom: 11px;
    margin-left: 41px;
}

.address-3 {
    width: 141px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #263036;
    margin-top: 11px; 
    margin-right: 204px;
    margin-bottom: 36px;
    margin-left: 40px;
}

.phone-2 {
    width: 74px;
    height: 29px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #263036;
    margin-top: 36px; 
    margin-right: 270px;
    margin-bottom: 11px;
    margin-left: 41px;
}

.phone-3 {
    width: 132px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #263036;
    margin-top: 11px; 
    margin-right: 213px;
    margin-bottom: 36px;
    margin-left: 40px;
}

.e-mail-2 {
    width: 74px;
    height: 29px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #263036;
    margin-top: 36px; 
    margin-right: 269px;
    margin-bottom: 11px;
    margin-left: 42px;
}

.link {
    width: 198px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #1C2E8C;
    text-decoration: none;
    margin-top: 11px; 
    margin-right: 146px;
    margin-bottom: 36px;
    margin-left: 41px;
}

.Languages-2 {
    width: 171px;
    height: 39px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #263036; 
    margin-top: 36px; 
    margin-right: 171px;
    margin-bottom: 15px;
    margin-left: 43px;    
}

.table-2 {
    width: 289px;
    height: 0px;
    border: 6px solid #1E1E1E; 
    margin-top: 15px; 
    margin-right: 52px;
    margin-bottom: 23px;
    margin-left: 44px; 
}

.Language-1 {
    width: 139px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #1E1E1E;
    margin-top: 23px; 
    margin-right: 204px;
    margin-bottom: 15px;
    margin-left: 42px;
}

.Language-2 {
    width: 116px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #1E1E1E; 
    margin-top: 15px; 
    margin-right: 227px;
    margin-bottom: 530px;
    margin-left: 42px;
}

.Summary-1 {
    width: 167px;
    height: 44px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #1E1E1E; 
    margin-top: 58px;
    margin-right: 593px;
    margin-bottom: 28px;
    margin-left: 55px;
}

.table-3 {
    width: 659px;
    height: 0px;
    border: 5px solid #000000;
    margin-top: 28px;
    margin-right: 101px;
    margin-bottom: 28px;
    margin-left: 55px;
}

.Summary-2 {
    width: 706px;
    height: 76px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #263036;
    margin-top: 28px;
    margin-right: 54px;
    margin-bottom: 49px;
    margin-left: 55px;
}

.skills-parent {
display: flex;
}

.left-2 {
    display: grid;
    width: 297px;
    width: 297px;
    height: 84px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #263036;
    margin-top: 28px;
    margin-right: 27px;
    margin-bottom: 49px;
    margin-left: 55px;
    
}

.right-2 {
    display: grid;
    width: 297px;
    height: 84px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #263036;
    margin-top: 28px;
    margin-right: 139px;
    margin-bottom: 49px;
    margin-left: 27px;
    
}

.skills-2 {
    width: 278px;
    height: 44px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #1E1E1E;
    margin-top: 49px;
    margin-right: 482px;
    margin-bottom: 28px;
    margin-left: 55px;
}

.skills-3{
    width: 621px;
    height: 84px;
    margin-top: 28px;
    margin-right: 139px;
    margin-bottom: 49px;
    margin-left: 27px;
}

.table-4 {
    width: 659px;
    height: 0px;
    border: 5px solid #000000;
    margin-top: 28px;
    margin-right: 101px;
    margin-bottom: 28px;
    margin-left: 55px;
}

.Education {
    width: 175px;
    height: 44px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #1E1E1E;
    margin-top: 53px;
    margin-right: 585px;
    margin-bottom: 28px;
    margin-left: 55px;
}

.table-5 {
    width: 659px;
    height: 0px;
    border: 5px solid #000000;
    margin-top: 28px;
    margin-right: 101px;
    margin-bottom: 28px;
    margin-left: 55px;
}

.Education-2 {
    width: 559px;
    height: 57px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #263036;  
    margin-top: 28px;
    margin-right: 201px;
    margin-bottom: 549px;
    margin-left: 55px; 
}
